h1 {
        text-align: center;
        background-color: white;
        margin-left: 50px;
        margin-right: 50px;
      }
      body {
        font-family: "Georgia", serif;
        font-size: 1.6em;
        background-color: rgb(180, 180, 180);
      }
      #main {
        float: left;
        background-color: white;
        text-indent: 24px;
        width: 65%;
        height: 1525px;
        overflow: visible;
      }
      #images {
        float: right;
        width: 30%;
        height: 1525px;
        overflow: auto;
      }
      p {
        font-style: italic;
        font-size: 0.7em;
        position: relative;
        bottom: -25px;
      }
